.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */

.user-display {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.Submit {
  margin: auto;
  border: 1px solid;
  padding: 10px 30px;
  background: lightcyan;
  border-radius: 5px;
}
.sendMesg {
  border: 1px solid;
  padding: 10px 30px;
  background: lightcyan;
  border-radius: 5px;
}
.p-T10 {
  padding-top: 10px;
}
.m-T10r {
  margin-top: 10rem;
}
.m-l10 {
  margin-left: 10px;
}
.textBox {
  font-size: 14px;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
}
.chat-room {
  max-height: 10rem;
  overflow-y: scroll;
  border: 1px solid #fff;
  padding: 10px;
}
